* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    font-size: 30px;
    display: flex;
    flex-direction: column;
}

.first_block {
    background-color: burlywood;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
}

.nav_container {
    width: 100%;
    height: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: blanchedalmond;
    width: 100%;
    text-align: center;
}

.nav_container a:hover {
    color: goldenrod;
}

.main_container {
    width: 100%;
    padding-bottom: 3%;
    background-color: blue;
    display: flex;
    flex-direction: row;
}

.img_container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.cat1 {
    width: 70vh;
}

.cat2 {
    width: 70vh;
}

.inf_about_cat_container {
    width: 100%;
    background-color: blue;
    color: yellow;
    display: flex;
}

.last_block {
    width: 100%;
    height: 100%;
    background-color: yellow;
    text-align: center;
    color: blue;
}